@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.upcominglist {
    justify-content: center;
    align-items: center;
    height: auto;
    /* background-color: #000; */
}

.upComingHeading {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin-top: 40px;
    /* padding: 5px; */
    /* border: 1px solid; */
    border-bottom: 1px solid teal;
    border-top: 1px solid teal;
    background-color: #000;
}

.upComingHeadingText {
    color: #fff;
    background-color: transparent;
    font-family: 'Lora', serif;
    padding-top: 20px;
    padding-bottom: 12px;
}

.listcontainer {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    background-color: #000;
    /* margin-bottom: 100px; */
}
 
.card {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin: 50px 20px;
    border: 1px solid #fff;
}

.cardImage {
    max-width: 250px;
    width: auto;
    height: 100%;
}
.modalImage{
    height: 90vh;
}

.ViewAllBtn {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.viewAll {
    border: 2px solid teal;
    padding: 15px 35px;
    color: teal;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
    transition: .7s ease all;
}

.viewAll:hover {
    border: 2px solid #fff;
    background-color: teal;
    padding: 15px 35px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
}